<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-active">
      <div class="navbar-start">
        <!-- navbar items --><a class="navbar-item" href="/"> Add </a>
        <a class="navbar-item" href="/reviews"> Reviews </a>
      </div>
    </div>
  </nav>
