<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movies Review Database</title>
    <link href="css/bulma.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-menu is-active">
        <div class="navbar-start">
            <!-- navbar items --><a class="navbar-item" href="/"> Home </a>
            <a class="navbar-item"  href="/reviews"> Reviews </a>
          </div>
      </div>
      <div class="navbar-menu is-active">
        <!-- shown on mobile -->
      </div>
    </nav>

    <section class="section">
      <div class="container is-fluid">
        <form action="/reviews" method="POST">
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input class="input" type="text" id="first_name" name="first_name"/>
            </div>
          </div>

          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" id="last_name" name="last_name" />
            </div>
          </div>

          <div class="field">
            <label class="label">Movie</label>
            <div class="control">
              <div class="select">
                <select id="movie" name="movie">
                  <option>Captain America: The First Avenger</option>
                  <option>Iron Man</option>
                  <option>The Incredible Hulk</option>
                  <option>Thor</option>
                  <option>Captain America: The Winter Soldier</option>
                  <option>Guardians of the Galaxy</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Review</label>
            <div class="control">
              <textarea 
                class="textarea"
                placeholder="Enter your review here ..."
                id="review"
                name="review"
              ></textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Movies Review Database</strong> by
            <a href="https://jgthms.com">Course Name</a>. The source code is
            licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            The website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
              >CC BY NC SA 4.0</a
            >.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
